.inner-container {
  width: 90%;
  margin: 50px auto;
  background-color: aqua;
}

.main-title {
  font-size: 48px;
  font-weight: bold;
}

.sub-title {
  font-size: 24px;
  margin: 20px 0;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.explain-text {
  font-size: 18px;
  margin: 10px 0;
}