.single-container {
  margin: 50px 0;
  box-sizing: border-box;
  padding: 10px;
}

.double-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  .side-container{
    width: 30%;
    background: var(--main_color);
    box-sizing: border-box;
    padding: 10px;
  }
  .main-container{
    width: 65%;
    background: var(--main_color);
    box-sizing: border-box;
    padding: 10px;
  }
}

.inner-container {
  width: 90%;
  margin: 50px auto;
  background-color: aqua;
}

.main-title {
  font-size: 48px;
  font-weight: bold;
}

.sub-title {
  font-size: 24px;
  margin: 20px 0;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.explain-text {
  font-size: 18px;
  margin: 10px 0;
}

.form-item{
  width:  80%;
  margin: 20px auto;
  text-align: left;
  p {
    text-align: left;
    font-size: 20px;
    margin: 5px;
  }
  input {
    width: 90%;
    padding: 5px;
  }
  textarea {
    width: 90%;
    min-height: 100px;
    padding: 5px;
  }
}

.button-default {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 20px;
  background: #13b1c0;;
  color: #FFF;
  cursor: pointer;
}